/* header */
header.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4.5rem;
    background-color: var(--cor-primary);
    position: relative;
    top: 0;
    box-shadow: 0px 10px 10px var(--cor-sombra);
}

.home{
    position: absolute;
    left: 5px;
    margin: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-secundary);
}
.home:hover{
    color: var(--cor-bg-text);
    transform: scale(1.1);
    transition: 0.5s;
}
.logo{
    display: flex;
    align-items: center;
    justify-self: center;
}
.logo__image{
    width: 105px;
    height: 35px;
    background-image: url("../images/icon_Heart.png");
    background-size: 35px;
    background-repeat: repeat-x;
}
.logo__title{
    font-size: 1.3rem;
    margin: 12px;
    color: var(--cor-bg-text);
    font-family: var(--fonte-primary);
}

/* responsivo mobile */
@media(max-width: 768px){

    /* header */
    .home{
        display: none;
    }
    .logo__image{
        width: 30px;
        background-size: 30px;
        background-repeat: no-repeat;
    }
}